.about-top {
    padding: 60px 20px;
    background: linear-gradient(to bottom, var(--linear-color), var(--white-color));
}

.main-about-top-box {
    align-items: center;
}

.about-top__left {
    padding-right: 50px;
}

.about-top__title {
    font-size: 3.5rem;
    line-height: 4.5rem;
    color: #d35400;
}

.about-top__content {
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-align: justify;
    color: var(--text-color);
    margin-bottom: 20px;
}

.about-top__img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.featured-data-section {
    background-color: var(--secondary-color);
}

.featured-data-section__title {
    font-size: 2.2rem;
    line-height: 3.2rem;
    color: var(--white-color);
    font-weight: 500;
}

.featured-data-box {
    padding: 40px 0;
    align-items: center;
}

.featured-data-item {
    display: flex;
    flex-direction: column;
    color: var(--white-color);
    align-items: center;
    justify-content: center;
}

.featured-data-item__number {
    font-size: 4.4rem;
    line-height: 5.4rem;
    font-weight: 700;
    font-family: 'Aclonica', sans-serif;
}

.featured-data-item__title {
    font-size: 2rem;
    line-height: 3rem;
}

.about-bottom {
    position: relative;
    padding: 140px 0;
    background: linear-gradient(to bottom, var(--white-color), var(--linear-color));
    background-repeat: no-repeat;
}

.about-bottom::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(http://localhost/ngulongbakery/public/upload/background-icon/banhbonglan.png) no-repeat bottom right;
    opacity: 0.4;
}

.review-card {
    width: 90%;
    background-color: #faf5e5;
    border-radius: 12px;
    text-align: center;
    padding: 20px 20px 30px; /* Thêm khoảng padding dưới để không bị tràn */
    position: relative;
    height: 700px;
}

.image-container {
    position: absolute;
    top: -75px; /* Đẩy ảnh ra ngoài khung */
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 70%;
    border-radius: 10px;
    overflow: hidden;
}

.image-slider {
    display: flex;
    transition: transform 1s ease-in-out; /* Lặp lại vô hạn */
}

.product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    flex-shrink: 0; /* Đảm bảo không co giãn */
    border-radius: 10px;
}

.review-content {
    margin-top: 450px; /* Tạo khoảng cách sau ảnh */
}

.stars {
    display: flex;
    justify-content: center;
    margin: 0 0 20px;
}

.star-icon-large {
    margin: 0 4px;
    font-size: 1.6rem;
    color: #ffbb1e;
}

.review-text {
    font-size: 1.7rem;
    color: var(--text-color);
    margin: 10px 0;
    line-height: 2.5rem;
    padding: 0 20px;
    /* Đảm bảo nội dung hiển thị dấu ba chấm nếu vượt quá số dòng */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box; /* Cần cho hiệu ứng dòng bị giới hạn */
    -webkit-line-clamp: 3; /* Số dòng tối đa (thay đổi nếu cần) */
    -webkit-box-orient: vertical; /* Hiển thị theo chiều dọc */
}

.reviewer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.reviewer-avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}

.reviewer-name {
    font-size: 1.6rem;
    color: #4a4a4a;
    margin-left: 6px;
}

.about-bottom-right {
    z-index: 2;
}

.verify {
    display: flex;
    align-items: center;
}

.verify-logo-icon {
    width: 115px;
    height: 115px;
}

.verify-content {
    margin-left: 25px;
}

.verify-content__title {
    font-size: 2.4rem;
    line-height: 3rem;
    margin: 0;
    margin-bottom: 10px;
    color: var(--secondary-color);
    font-weight: 500;
}

.verify-content__body {
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: #4a4a4a;
    margin: 0;
}

.introduction-heading {
    font-size: 3.7rem;
    line-height: 4.8rem;
    color: var(--secondary-color);
    margin-bottom: 15px;
}

.about-categories {
    margin-bottom: 15px;
}

.about-category-list {
    list-style: none;
    padding: 0;
    font-size: 1.6rem;
}

.about-category-item + .about-category-item {
    margin-top: 14px;
    color: var(--secondary-color);
}

.about-check-icon {
    color: var(--primary-color-bold);
    margin-right: 10px;
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1024px) {
    .about-top__left {
        padding: 0;
    }

    .about-top__title {
        text-align: center;
    }

    .about-top__content {
        text-align: center;
    }

    .featured-data-section__title-box {
        text-align: center;
        margin-bottom: 30px;
    }

    .review-card {
        width: 100%;
    }

    .review-text {
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    .reviewer-avatar {
        width: 70px;
        height: 70px;
    }

    .reviewer-name {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    .about-bottom-right {
        margin-top: 50px;
        text-align: center;
    }

    .verify {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .verify-content {
        margin: 0;
        margin-top: 20px;
    }
}

/* Mobile */
@media (max-width: 1024px) {
    .about-bottom {
        padding: 140px 20px;
    }

    .about-top__left {
        padding: 0;
    }

    .about-top__title {
        text-align: center;
    }

    .about-top__content {
        text-align: center;
    }

    .featured-data-section__title-box {
        text-align: center;
        margin-bottom: 30px;
    }

    .review-card {
        width: 100%;
    }

    .review-content {
        margin-top: 400px;
    }

    .review-text {
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    .reviewer-avatar {
        width: 70px;
        height: 70px;
    }

    .reviewer-name {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    .about-bottom-right {
        margin-top: 50px;
        text-align: center;
    }

    .verify {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .verify-content {
        margin: 0;
        margin-top: 20px;
    }

    .featured-data-item + .featured-data-item {
        margin-top: 20px;
    }
}
