main {
    padding: 20px 0 50px;
    background: linear-gradient(to bottom, var(--linear-color), var(--white-color));
}

.sidebar-heading {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #efefef;
}

.sidebar-heading__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.sidebar-heading__right {
    margin-left: 10px;
}

.sidebar-heading__username {
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--secondary-color);
    font-weight: 450;
}

.sidebar-heading__edit-profile {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #888;
    font-weight: 500;
    cursor: pointer;
}

.edit-icon {
    margin-right: 7px;
}

.sidebar-menu {
    padding: 0;
    list-style: none;
    margin-top: 25px;
}

.sidebar-menu__item {
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--text-color);
    font-weight: 500;
    padding: 5px 0;
    cursor: pointer;
}

.sidebar-menu__item.sidebar-menu__item--active {
    color: var(--primary-color-bold);
}

.sidebar-menu__item + .sidebar-menu__item {
    margin-top: 10px;
}

.sidebar-menu__item-icon {
    color: var(--primary-color-bold);
    margin-right: 7px;
    font-size: 1.8rem;
}

.main-information {
    background-color: var(--white-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 30px 50px;
    display: none;
}

.main-information.main-information--active {
    display: block;
}

.main-information__heading {
    margin: 0 0 4px;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 400;
    color: var(--secondary-color);
}

.main-information__sub-heading {
    margin: 0;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--text-color);
    font-weight: 400;
    padding-bottom: 20px;
    border-bottom: 1px solid #efefef;
}

.main-information-box {
    padding-top: 20px;
}

.user-information__label-box {
    text-align: right;
}

.user-information__label {
    display: block;
    font-size: 1.6rem;
    line-height: 2rem;
    color: rgba(85, 85, 85, 0.8);
    padding: 10px 0;
}

.user-information__value {
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 10px 0;
    display: block;
    color: var(--text-color);
}

.user-information__value-input {
    border: none;
    padding: 0;
    width: 400px;
    outline: none;
}

.edit-icon-blue {
    color: #05a;
    cursor: pointer;
    font-size: 1.6rem;
    margin-left: 20px;
}

.edit-link {
    font-size: 1.4rem;
    line-height: 2rem;
    text-decoration: underline;
    color: #05a;
    margin-left: 300px;
    cursor: pointer;
}

.user-information__value-input.editable {
    outline: 2px solid #05a;
}

.edit-avatar-wrap {
    border-left: 1px solid #efefef;
    display: flex;
    justify-content: center;
}

.edit-avatar__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
}

.edit-avatar__input {
    margin-top: 20px;
    font-size: 1.2rem;
}

.edit-avatar-box--mobile-tablet {
    display: none;
}

.save-btn {
    font-size: 1.6rem;
    color: var(--white-color);
    background-color: var(--primary-color-bold);
    padding: 10px 20px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}

.save-btn:hover {
    opacity: 0.9;
}

.order-history-item + .order-history-item {
    margin-top: 70px;
}

.product-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info {
    display: flex;
    align-items: center;
}

.product-info__img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.product-info__name {
    font-size: 1.4rem;
    line-break: 1.8rem;
    margin: 0;
    font-weight: 450;
}

.product-info__right {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.product-info__type {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 8px;
}

.product-info__quantity {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 450;
    margin-top: 8px;
}

.product-price__old {
    margin-right: 10px;
    font-size: 1.5rem;
    text-decoration: line-through;
    color: #0e1c22;
    opacity: 0.4;
}

.product-price__current {
    font-size: 1.8rem;
    color: var(--primary-color-bold);
    font-weight: 700;
}

.delivery-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.delivery-status__line {
    width: 700px;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.delivery-status__stt-wait {
    font-weight: 450;
    display: block;
    font-size: 1.4rem;
    color: #ffa500;
}

.status-icon {
    margin-right: 10px;
}

.product-order + .product-order {
    margin-top: 10px;
}

.into-money {
    margin-top: 10px;
}

.into-money__order-id {
    font-size: 1.6rem;
    line-break: 2rem;
    color: #05a;
    font-weight: 700;
}

.into-money__total {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.into-money__total-label {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--text-color);
}

.into-money__total-price {
    display: inline-block;
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 700;
    color: var(--primary-color-bold);
    margin-left: 10px;
}

.delivery-status__stt-delivery {
    font-weight: 450;
    display: block;
    font-size: 1.4rem;
    color: #26aa99;
}

.delivery-icon {
    margin-right: 10px;
}

.delivery-status__stt-cancel {
    font-weight: 450;
    display: block;
    font-size: 1.4rem;
    color: #ff0000;
}

.cancel-icon {
    margin-right: 10px;
}

.options-btn {
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--white-color);
    padding: 10px 20px;
    background-color: var(--primary-color-bold);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.options-btn:hover {
    opacity: 0.9;
}

/* Popup Styles */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
}

.popup-heading {
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

/* Star Rating */
.rating {
    display: flex;
    justify-content: center;
    gap: 5px;
    direction: rtl; /* Đổi hướng hiển thị ngôi sao từ phải sang trái */
}

.star {
    font-size: 40px;
    color: gray; /* Màu xám khi chưa chọn */
    cursor: pointer;
    transition: color 0.2s;
}

.rating input[type='radio'] {
    display: none;
}

/* Đổi màu vàng cho tất cả các sao bên trái ngôi sao được chọn */
.rating input[type='radio']:checked ~ label.star {
    color: gold;
}

.rating label.star:hover,
.rating label.star:hover ~ label.star {
    color: gold;
}

.image-upload {
    margin-top: 20px;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.comment-box {
    margin-top: 20px;
}

.comment-box label {
    font-size: 1.6rem;
    line-height: 2rem;
}

.comment-box textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.4rem;
}

.image-upload input[type='file'] {
    padding: 5px;
    margin-top: 10px;
}

button[type='submit'] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    font-size: 1.6rem;
    line-height: 2rem;
}

button[type='submit']:hover {
    background-color: #45a049;
}

.product-item__name {
    font-size: 1.6rem;
    line-height: 2rem;
}

.add-to-cart-btn {
    padding: 10px 30px;
    font-size: 1.3rem;
    line-height: 1.7rem;
}

.add-to-cart-btn.active {
    padding: 10px 30px;
}

.product-item__sale-off {
    font-size: 1.4rem;
    line-height: 1.6rem;
    min-width: 40px;
}

.pagination {
    text-align: center;
    margin-top: 60px;
}

.pagination-link,
.pagination-link__icon-prev,
.pagination-link__icon-next {
    display: inline-block;
    font-size: 2.4rem;
    text-decoration: none;
    color: var(--secondary-color);
    padding: 6px;
}

.pagination-link {
    color: var(--secondary-color);
    opacity: 0.3;
    margin-left: 30px;
}

.pagination-link.pagination-link--active,
.pagination-link:hover {
    opacity: 1;
}

.pagination-link__icon-next {
    margin-left: 30px;
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1024px) {
    .add-to-cart-btn {
        padding: 10px 30px;
        font-size: 1.2rem;
        line-height: 1.6rem;
    }

    .add-to-cart-btn.active {
        padding: 10px 30px;
    }

    .product-item__name {
        font-size: 1.5rem;
        line-height: 1.9rem;
    }

    .user-information__label {
        font-size: 1.5rem;
    }

    .user-information__value {
        font-size: 1.5rem;
    }

    .user-information__value-input {
        width: 200px;
    }

    .edit-link {
        margin-left: 150px;
    }

    .edit-avatar-box--mobile-tablet {
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }

    .edit-avatar-box {
        display: none;
    }

    .delivery-status__line {
        width: 225px;
    }

    .edit-avatar-box--mobile-tablet .edit-avatar__img {
        width: 90px;
        height: 90px;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .pagination {
        margin-top: 50px;
    }

    .pagination-link,
    .pagination-link__icon-prev,
    .pagination-link__icon-next {
        font-size: 1.8rem;
    }

    .pagination-link {
        margin-left: 15px;
    }

    .pagination-link__icon-next {
        margin-left: 15px;
    }

    .sidebar-heading {
        justify-content: center;
    }

    .sidebar-menu {
        text-align: center;
        margin-bottom: 20px;
    }

    .edit-avatar-box--mobile-tablet {
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .edit-avatar-box--mobile-tablet .edit-avatar__img {
        width: 70px;
        height: 70px;
    }

    .edit-avatar-box {
        display: none;
    }

    .edit-avatar__input {
        margin-top: 20px;
        font-size: 1rem;
    }

    .user-information__label,
    .user-information__value {
        font-size: 1.3rem;
    }

    .user-information__value-input {
        width: 125px;
    }

    .edit-link {
        margin-left: 60px;
        font-size: 1.2rem;
    }

    .delivery-status__line {
        width: 100px;
    }

    .close-btn {
        background: none;
    }

    .product-info__name {
        font-size: 1.2rem;
    }

    .product-price__old {
        font-size: 1.2rem;
    }

    .product-price__current {
        font-size: 1.4rem;
    }
}
