main {
    padding: 20px 0 50px;
    background: linear-gradient(to bottom, var(--linear-color), var(--white-color));
}

/* Sidebar container */
.sidebar-heading {
    display: flex;
    align-items: center;
    padding: 20px 15px;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-heading__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #eee;
}

.sidebar-heading__right {
    margin-left: 15px;
}

.sidebar-heading__username {
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #333;
    font-weight: 600;
}

/* .edit-icon {
    margin-right: 8px;
} */

/* Sidebar menu */
.sidebar-menu {
    padding: 0;
    list-style: none;
    margin-top: 20px;
}

.sidebar-menu__item {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #555;
    font-weight: 500;
    padding: 12px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar-menu__item:hover {
    background-color: #f1f1f1;
    color: var(--primary-color-bold);
}

.sidebar-menu__item:hover .sidebar-menu__item-icon {
    background-color: none;
    color: var(--primary-color-bold); /* Màu chủ đạo mới khi hover */
}

.sidebar-menu__item--active {
    background-color: var(--primary-color-bold); /* Màu chủ đạo khi item active */
    color: var(--white-color);
}

.sidebar-menu__item--active .sidebar-menu__item-icon {
    color: var(--white-color);
}

.sidebar-menu__item + .sidebar-menu__item {
    margin-top: 15px;
}

/* Sidebar menu icons */
.sidebar-menu__item-icon {
    color: var(--primary-color-bold); /* Màu chủ đạo mới cho icon */
    margin-right: 12px;
    font-size: 1.8rem;
}

/* Add spacing and padding */
.sidebar-menu__item + .sidebar-menu__item {
    margin-top: 12px;
}

.main-information {
    background-color: var(--white-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 25px 30px 50px;
    display: none;
}

.main-information.main-information--active {
    display: block;
}

.main-information__heading {
    margin: 0 0 4px;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 400;
    color: var(--secondary-color);
}

.main-information__sub-heading {
    margin: 0;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--text-color);
    font-weight: 400;
    padding-bottom: 20px;
    border-bottom: 1px solid #efefef;
}

.main-information-box {
    padding-top: 30px;
}

.user-information__label-box {
    text-align: right;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px; /* Giữ khoảng cách đều giữa các phần tử */
}

.user-information__label {
    flex: 0 0 20%; /* Chiếm 20% chiều rộng container */
    font-size: 1.6rem;
    line-height: 2rem;
    color: rgba(85, 85, 85, 0.8);
    text-align: right;
    margin-right: 10px;
}

.user-information__value {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.6rem;
    line-height: 2rem;
    width: 100%;
    min-height: 38px; /* Thêm chiều cao tối thiểu để các dòng căn đều */
}

.user-information__value-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 12px;
    width: 100%;
    outline: none;
}

.edit-icon-blue {
    color: #05a;
    cursor: pointer;
    font-size: 1.6rem;
}

.edit-icon-blue:hover,
.edit-link:hover {
    color: var(--primary-color-bold);
}

.edit-link {
    font-size: 1.4rem;
    line-height: 2rem;
    text-decoration: underline;
    color: #05a;
    margin-left: auto; /* Đẩy nút sang góc phải */
    cursor: pointer;
}

.user-information__value-input.editable {
    outline: 2px solid #05a;
}

.edit-avatar-wrap {
    border-left: 1px solid #efefef;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.edit-avatar__img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 15px;
}

.edit-avatar__input {
    font-size: 1rem;
    padding: 8px;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    width: 100%;
}

.edit-avatar-box {
    text-align: center;
    max-width: 200px;
}

.edit-avatar-box--mobile-tablet {
    display: none;
}

.save-btn {
    font-size: 1.6rem;
    color: var(--white-color);
    background-color: var(--primary-color-bold);
    padding: 12px 24px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 130px;
}

.save-btn:hover {
    filter: brightness(1.1);
}

.order-history-item + .order-history-item {
    margin-top: 70px;
}

.product-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info {
    display: flex;
    align-items: center;
}

.product-info__img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
}

.product-info__name {
    font-size: 1.6rem;
    line-break: 2rem;
    margin: 0;
    font-weight: 450;
}

.product-info__right {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.product-info__quantity {
    display: block;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 450;
    margin-top: 8px;
}

.product-price__old {
    margin-right: 10px;
    font-size: 1.5rem;
    text-decoration: line-through;
    color: #0e1c22;
    opacity: 0.4;
}

.product-price__current {
    font-size: 1.8rem;
    color: var(--primary-color-bold);
    font-weight: 700;
}

.delivery-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.delivery-status__line {
    width: 700px;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.delivery-status__stt-wait {
    font-weight: 450;
    display: block;
    font-size: 1.4rem;
    color: #ffa500;
}

.status-icon {
    margin-right: 10px;
}

.product-order + .product-order {
    margin-top: 10px;
}

.into-money {
    margin-top: 10px;
}

.into-money__order-id {
    font-size: 1.6rem;
    line-break: 2rem;
    color: #05a;
    font-weight: 700;
}

.into-money__total {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.into-money__total-label {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--text-color);
}

.into-money__total-price {
    display: inline-block;
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 700;
    color: var(--primary-color-bold);
    margin-left: 10px;
}

.delivery-status__stt-delivery {
    font-weight: 450;
    display: block;
    font-size: 1.4rem;
    color: #26aa99;
}

.delivery-icon {
    margin-right: 10px;
}

.delivery-status__stt-cancel {
    font-weight: 450;
    display: block;
    font-size: 1.4rem;
    color: #ff0000;
}

.cancel-icon {
    margin-right: 10px;
}

.options-btn {
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--white-color);
    padding: 10px 20px;
    background-color: var(--primary-color-bold);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.options-btn a {
    color: var(--white-color);
}

.options-btn:hover {
    opacity: 0.9;
}

/* Popup Styles */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
}

.popup-heading {
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.close-popup-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

/* Star Rating */
.rating {
    display: flex;
    justify-content: center;
    gap: 5px;
    direction: rtl; /* Đổi hướng hiển thị ngôi sao từ phải sang trái */
}

.star {
    font-size: 40px;
    color: gray; /* Màu xám khi chưa chọn */
    cursor: pointer;
    transition: color 0.2s;
}

.rating input[type='radio'] {
    display: none;
}

/* Đổi màu vàng cho tất cả các sao bên trái ngôi sao được chọn */
.rating input[type='radio']:checked ~ label.star {
    color: gold;
}

.rating label.star:hover,
.rating label.star:hover ~ label.star {
    color: gold;
}

.image-upload {
    margin-top: 20px;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.comment-box {
    margin-top: 20px;
}

.comment-box label {
    font-size: 1.6rem;
    line-height: 2rem;
}

.comment-box textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.image-upload input[type='file'] {
    padding: 5px;
    margin-top: 10px;
}

.modal-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    font-size: 1.6rem;
    line-height: 2rem;
}

.modal-btn:hover {
    background-color: #45a049;
}

.product-item__name {
    font-size: 1.6rem;
    line-height: 2rem;
}

.add-to-cart-btn {
    padding: 10px 30px;
    font-size: 1.3rem;
    line-height: 1.7rem;
}

.add-to-cart-btn.active {
    padding: 10px 30px;
}

.product-item__sale-off {
    font-size: 1.4rem;
    line-height: 1.6rem;
    min-width: 40px;
}

.pagination {
    text-align: center;
    margin-top: 60px;
}

.pagination-link,
.pagination-link__icon-prev,
.pagination-link__icon-next {
    display: inline-block;
    font-size: 2.4rem;
    color: var(--secondary-color);
    padding: 6px;
}

.pagination-link {
    color: var(--secondary-color);
    opacity: 0.3;
    margin-left: 30px;
}

.pagination-link.pagination-link--active,
.pagination-link:hover {
    opacity: 1;
}

.pagination-link__icon-next {
    margin-left: 30px;
}

.pagination-link__icon-prev.none,
.pagination-link__icon-next.none {
    display: none;
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1024px) {
    .add-to-cart-btn {
        padding: 10px 30px;
        font-size: 1.2rem;
        line-height: 1.6rem;
    }

    .add-to-cart-btn.active {
        padding: 10px 30px;
    }

    .product-item__name {
        font-size: 1.5rem;
        line-height: 1.9rem;
    }

    .user-information__label {
        font-size: 1.5rem;
    }

    .user-information__value {
        font-size: 1.5rem;
    }

    .user-information__value-input {
        width: 250px;
        padding: 6px 10px;
    }

    .edit-link {
        margin-left: 100px;
    }

    .edit-avatar-box--mobile-tablet {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .edit-avatar-box {
        display: none;
    }

    .edit-avatar-box--mobile-tablet .edit-avatar__img {
        width: 100px;
        height: 100px;
    }

    .edit-avatar__input {
        font-size: 1.1rem;
        margin-top: 10px;
        padding: 10px;
        width: 80%;
    }

    .sidebar-heading {
        flex-direction: row;
        padding: 15px;
    }

    .sidebar-heading__avatar {
        width: 50px;
        height: 50px;
    }

    .sidebar-heading__right {
        margin-left: 10px;
    }

    .sidebar-heading__username {
        font-size: 1.4rem;
    }

    .sidebar-menu__item {
        font-size: 1.3rem;
    }

    .sidebar-menu__item-icon {
        font-size: 1.6rem;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .c-offset-1 {
        margin-left: 8.33333%;
    }

    .pagination {
        margin-top: 50px;
    }

    .pagination-link,
    .pagination-link__icon-prev,
    .pagination-link__icon-next {
        font-size: 1.8rem;
    }

    .pagination-link {
        margin-left: 15px;
    }

    .pagination-link__icon-next {
        margin-left: 15px;
    }

    .sidebar-heading {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .sidebar-heading__avatar {
        width: 40px;
        height: 40px;
    }

    .sidebar-heading__right {
        margin-left: 0;
        margin-top: 10px;
    }

    .sidebar-heading__username {
        font-size: 1.3rem;
    }

    .sidebar-heading__edit-profile {
        font-size: 1.1rem;
    }

    .sidebar-menu {
        margin-top: 15px;
    }

    .sidebar-menu__item {
        font-size: 1.2rem;
        padding: 10px 15px;
    }

    .sidebar-menu__item-icon {
        font-size: 1.5rem;
    }

    .edit-avatar-box--mobile-tablet {
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .edit-avatar-box--mobile-tablet .edit-avatar__img {
        width: 80px;
        height: 80px;
    }

    .edit-avatar-box {
        display: none;
    }

    .edit-avatar__input {
        font-size: 1rem;
        width: 90%;
        padding: 8px;
    }

    .user-information__label {
        font-size: 1.4rem;
        line-height: 1.8rem;
        text-align: left;
    }

    .user-information__value,
    .user-information__value-input {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }

    .delivery-status__line {
        width: 100px;
    }

    .close-popup-btn {
        background: none;
    }

    .product-info__name {
        font-size: 1.2rem;
    }

    .product-price__old {
        font-size: 1.2rem;
    }

    .product-price__current {
        font-size: 1.4rem;
    }
}
