main {
    background: linear-gradient(to bottom, var(--linear-color), var(--white-color));
}

.cart-wrap {
    padding: 50px 0 46px 0;
}

.cart-body-left {
    background-color: var(--white-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.cart-body-left__content--mobile {
    display: none;
}

.cart-body-left__heading {
    padding: 14px 24px 14px 39px;
    border-bottom: 2px solid rgba(238, 238, 238, 0.5);
    font-size: 1.5rem;
    font-weight: 600;
}

.cart-body-left__content {
    padding: 24px 28px 24px 30px;
    border-bottom: 1px solid #e1e3e8;
}

.delete-item {
    font-size: 2rem;
    color: var(--black-color);
    display: block;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: 4px;
}

.product-link {
    font-size: 2rem;
    color: var(--black-color);
}

.product-link__img {
    width: 100%;
}

.product-link__title {
    font-weight: normal;
    margin: 0 0 12px 0;
    line-height: 2.4rem;
    font-size: 1.8rem;
}

.product-classify__title {
    display: block;
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.product-price {
    font-size: 1.8rem;
    margin-top: 8px;
    display: block;
}

.quantity-wrapper {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
}

.quantity-minus,
.quantity-plus {
    width: 38px;
    height: 38px;
    border: 1px solid #0e1c22;
    background-color: var(--white-color);
    border-radius: 10px;
}

.quantity {
    border: none;
    text-align: center;
    width: 64px;
    height: 38px;
    outline: none;
}

.quantity-minus:hover,
.quantity-plus:hover {
    background-color: var(--linear-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.line-item-total {
    font-size: 1.8rem;
    display: block;
    margin-top: 8px;
}

.cart-body-left__footer {
    padding: 24px 28px 24px 30px;
}

.continue-shopping {
    font-size: 1.5rem;
    color: #0e1c22;
    font-weight: bold;
}

.cart-body-right {
    padding: 32px 24px 24px;
    background-color: var(--white-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    line-height: 3.6rem;
}

.total-label {
    font-size: 1.6rem;
}

.total-price {
    font-size: 2.4rem;
    color: var(--primary-color-bold);
    font-weight: 500;
}

.cart-btn-link {
    display: block;
    margin-top: 32px;
}

.cart-btn {
    font-size: 2.2rem;
    padding: 20px;
    background-color: var(--primary-color-bold);
    width: 100%;
    border: 1px solid #ebebeb;
    color: var(--white-color);
    cursor: pointer;
    border-radius: 5px;
}

.cart-btn:hover {
    filter: brightness(1.1);
}

.order-item + .order-item {
    margin-top: 100px;
}

.cart-empty {
    padding: 20px;
    background-color: var(--white-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.cart-empty__title {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 3rem;
    margin: 0;
}

.continue-buy__btn {
    background-color: var(--primary-color-bold);
    display: inline-block;
    line-height: 2.4rem;
    margin-top: 24px;
    padding: 20px;
    font-size: 2.2rem;
    color: var(--white-color);
    border-radius: 5px;
    border: 1px solid #ebebeb;
}

.continue-buy__btn:hover {
    filter: brightness(1.1);
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1024px) {
    .cart-body-right {
        margin-top: 20px;
    }

    .quantity {
        width: 50px;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .cart-body-left__heading {
        display: none;
    }

    .cart-body-left__content {
        display: none;
    }

    .cart-body-left__content.cart-body-left__content--mobile {
        display: block;
    }

    .quantity {
        width: 50px;
    }

    .product-price {
        font-size: 1.8rem;
        margin-top: 20px;
        line-height: 2.2rem;
    }

    .quantity-wrapper {
        margin-top: 20px;
    }

    .cart-body-right {
        margin-top: 20px;
    }
}
