html {
    scroll-behavior: smooth;
}
main {
    max-width: 100%;
    min-height: 800px;
    background: linear-gradient(to bottom, var(--linear-color), var(--white-color), var(--linear-color));
}
.contentnews {
    margin-top: 70px;
    width: 100%;
    min-height: 300px;
    background-color: var(--white-color);
    text-align: left;
    padding-bottom: 100px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.contentnews .contentnews-title {
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 20px;
    padding-right: 100px;
    line-height: 55px;
    font-size: 40px;
    font-weight: bold;
    color: var(--secondary-color);
    display: block; /* Đảm bảo phần tử là khối */
    white-space: normal; /* Cho phép văn bản xuống dòng */
    word-wrap: break-word; /* Hỗ trợ bẻ từ */
    word-break: break-word; /* Bẻ từ nếu cần */
    overflow-wrap: break-word; /* Thay thế cho word-wrap */
    overflow: hidden; /* Tránh tràn nội dung */
}
section h2 {
    padding-left: 100px;
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
    color: var(--secondary-color);
    margin-top: 50px;
}
section h4 {
    padding-left: 100px;
    line-height: 30px;
    font-size: 22px;
    font-weight: bold;
    color: var(--secondary-color);
    margin: 30px 0 18px;
}

.contentnews .contentnews-author {
    padding-left: 100px;
    line-height: 30px;
    font-size: 17px;
    margin-bottom: 20px;
}

.contentnews-author a {
    color: var(--primary-color-bold);
}

section p {
    padding-left: 100px;
    padding-right: 100px;
    line-height: 2.8rem;
    font-size: 1.8rem;
    color: var(--text-color);
    text-align: justify;
}

section ul,
section ol {
    padding-left: 150px;
    padding-right: 100px;
    line-height: 2.8rem;
    font-size: 1.8rem;
    color: var(--text-color);
}

section ul li + li,
section ol li + li {
    margin-top: 10px;
}

section p a {
    color: var(--primary-color-bold);
}

section strong {
    font-weight: 550;
}

section h3 {
    padding-left: 100px;
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
    color: var(--secondary-color);
    margin-top: 50px;
}

section h3 strong,
section h4 strong {
    font-weight: 600;
}

section img {
    margin-left: 60px;
    width: 90%;
    height: 500px;
    object-fit: cover;
    border-radius: 2px;
}

section .contentnews-infor {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    line-height: 2.5rem;
    font-size: 16px;
}
section .contentnews-infor a {
    color: var(--primary-color-bold);
    font-weight: bold;
}
section .contentnews-infor {
    padding-bottom: 80px;
}
.backtonews {
    color: var(--primary-color-bold);
    font-size: 18px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    font-weight: 400;
    justify-content: space-between;
}
.backtonews a {
    color: var(--primary-color-bold);
}
.backtonews i {
    font-size: 16px;
}
.commentnews {
    width: 100%;
    min-height: 300px;
    background-color: var(--white-color);
    text-align: left;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.commentnews .quantitycomment {
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 23px;
}
.commentnews .commentnews-user {
    padding-top: 30px;
    padding-left: 30px;
    display: flex;
    align-items: center;
}
.commentnews .commentnews-user img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.commentnews-user .commentnews-user__name-date {
    padding-left: 15px;
    font-size: 16px;
    line-height: 2rem;
}

.commentnews-user__name {
    color: var(--secondary-color);
    font-weight: 450;
}

.commentnews-user__dates {
    margin-top: 5px;
    color: #4a4a4a;
    opacity: 0.5;
}

.commentnews .commentnews-content {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 2.5rem;
    font-size: 16px;
    color: #4a4a4a;
}
.commentnews .commentnews-manage {
    padding-left: 100px;
    padding-bottom: 50px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
}
.commentnews .commentnews-manage a {
    font-size: 16px;
    color: var(--primary-color-bold);
    font-weight: bold;
}
.writecomment {
    margin-bottom: 100px;
    margin-top: 30px;
    width: 100%;
    min-height: 300px;
    background-color: var(--white-color);
    text-align: left;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.writecomment .writecomment-title {
    padding-left: 100px;
    padding-top: 70px;
    font-size: 23px;
}
.writecomment .writecomment-title__link {
    padding-left: 100px;
    padding-top: 20px;
    font-size: 16px;
}
.writecomment .writecomment-title__link a {
    color: var(--primary-color-bold);
    font-weight: bold;
}
.writecomment .writecomment-content {
    padding-top: 30px;
    margin-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
}
.writecomment .writecomment-content input {
    width: 100%;
    height: 100px;
    font-size: 16px;
    padding: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    color: #333;
    transition: border-color 0.3s;
}
.writecomment .writecomment-content input:focus {
    border-color: var(--primary-color);
}
.writecomment .writecomment-btn {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 16px;
}
.writecomment .writecomment-btn button {
    width: 200px;
    background-color: var(--primary-color-bold);
    height: 50px;
    font-weight: 450;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    color: #fff;
}
.writecomment .writecomment-btn button a {
    color: var(--white-color);
}
.writecomment .writecomment-btn button i {
    font-size: 14px;
}
.writecomment .writecomment-btn button:hover {
    background-color: #deac55;
    color: rgb(227, 221, 221);
}
.contentnews-listindex {
    margin-left: 100px;
    font-size: 16px;
    border: 1px solid #ddd;
    line-height: 3rem;
    padding: 15px;
    border-radius: 8px;
    max-width: 525px;
    min-height: 20px;
    position: relative;
}
.contentnews-listindex button {
    position: absolute;
    min-width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    top: 33px;
    right: 30px;
    background-color: var(--white-color);
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}
.contentnews-listindex a {
    color: black;
    font-weight: 350;
    transition: all 1.3ms;
}
.contentnews-listindex a:hover {
    color: var(--primary-color-bold);
    text-decoration: underline;
}

.contentnews-listindex p {
    padding-left: 0;
}

.new-right-icon {
    margin-left: 8px;
}

.new-left-icon {
    margin-right: 8px;
}
@media (max-width: 739px) {
    section,
    .commentnews,
    .writecomment {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 20px;
    }
    .contentnews .contentnews-title {
        padding-top: 60px;
        padding-left: 0px;
        font-size: 16px;
        line-height: 2rem;
        line-height: 3rem;
    }
    section h2 {
        padding-top: 20px;
        padding-left: 0;
        font-size: 24px;
        line-height: 1.9rem;
    }
    .contentnews .contentnews-author {
        padding-left: 0px;
    }
    section .contentnews-author,
    section p,
    section h3,
    section .contentnews-infor,
    .backtonews,
    .commentnews .quantitycomment,
    .commentnews .commentnews-content,
    .writecomment .writecomment-title,
    .writecomment .writecomment-title__link,
    .writecomment .writecomment-content,
    .writecomment .writecomment-btn {
        padding-left: 0;
        padding-right: 0;
        font-size: 14px;
        line-height: 2rem;
    }
    section img {
        width: 100%;
        height: auto;
        margin-left: 0;
        padding-bottom: 10px;
    }
    section h2,
    section .contentnews-author,
    section p,
    section h3,
    section .contentnews-infor a,
    .backtonews a,
    .commentnews .quantitycomment,
    .commentnews .commentnews-user__name-date,
    .commentnews .commentnews-content,
    .commentnews .commentnews-manage a,
    .writecomment .writecomment-title,
    .writecomment .writecomment-title__link a,
    .writecomment .writecomment-content,
    .writecomment .writecomment-btn button {
        font-size: 14px;
        line-height: 1.9rem;
    }
    .writecomment .writecomment-btn button {
        width: 100%;
        height: 40px;
    }
    section .contentnews-listindex {
        margin-left: 0;
        font-size: 14px;
        padding: 10px;
        max-width: 100%;
    }
    .commentnews,
    .commentnews .commentnews-user,
    .commentnews .commentnews-content,
    .commentnews .commentnews-manage {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 10px;
    }
    .commentnews .commentnews-user img {
        width: 40px;
        height: 50px;
        object-fit: cover;
        border-radius: 10px 20px 30px 40px;
    }
    .commentnews .quantitycomment,
    .commentnews .commentnews-user__name-date,
    .commentnews .commentnews-content,
    .commentnews .commentnews-manage a {
        font-size: 12px;
        line-height: 1.5rem;
    }
    .commentnews-user .commentnews-user__name-date {
        padding-left: 15px;
        padding-top: 5px;
    }
    .commentnews .commentnews-manage {
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        justify-content: flex-start;
        gap: 20px;
    }
}
@media (min-width: 740px) and (max-width: 1236px) {
    section,
    .commentnews,
    .writecomment {
        width: 100%;
        margin-top: 30px;
    }
    .contentnews .contentnews-title {
        padding-top: 60px;
        padding-left: 30px;
        font-size: 16px;
        line-height: 2rem;
        line-height: 3rem;
    }
    section h2 {
        padding-top: 60px;
        padding-left: 30px;
        font-size: 26px;
        line-height: 3rem;
    }
    .contentnews .contentnews-author {
        padding-left: 30px;
    }
    section .contentnews-author,
    section p,
    section h3,
    section .contentnews-infor,
    .backtonews,
    .commentnews .quantitycomment,
    .commentnews .commentnews-content,
    .writecomment .writecomment-title,
    .writecomment .writecomment-title__link,
    .writecomment .writecomment-content,
    .writecomment .writecomment-btn {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 16px;
        line-height: 2.3rem;
    }
    section img {
        width: 90%;
        height: auto;
        margin-left: 30px;
        padding-bottom: 15px;
    }
    section .contentnews-listindex {
        margin-left: 30px;
        font-size: 16px;
        padding: 12px;
        max-width: 90%;
    }
    .commentnews,
    .commentnews .commentnews-user,
    .commentnews .commentnews-content,
    .commentnews .commentnews-manage {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 15px;
    }
    .commentnews .commentnews-user {
        padding-top: 20px;
        padding-left: 1px;
    }
    .commentnews .commentnews-content {
        padding-top: 10px;
    }
    .commentnews .commentnews-user img {
        width: 55px;
        height: 70px;
        object-fit: cover;
        border-radius: 10px 20px 30px 40px;
    }
    .commentnews .quantitycomment,
    .commentnews .commentnews-user__name-date,
    .commentnews .commentnews-content,
    .commentnews .commentnews-manage a {
        font-size: 14px;
        line-height: 1.8rem;
    }
    .writecomment .writecomment-btn button {
        width: 100%;
        height: 45px;
    }
}
