main {
    padding: 48px 0;
    background: linear-gradient(to bottom, var(--linear-color), var(--white-color));
}

.reset-password-form {
    width: 588px;
    padding: 40px 48px 48px;
    background-color: var(--white-color);
    margin: 0 auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.reset-password-title {
    line-height: 3.5rem;
    font-size: 2.6rem;
    font-weight: 700;
    margin: 0 0 50px 0;
    padding-bottom: 16px;
    border-bottom: 2px solid rgba(238, 238, 238, 0.5);
    color: var(--secondary-color);
}

.new-password-form {
    margin-bottom: 10px;
}

.form-label {
    line-height: 2.1rem;
    margin-bottom: 14px;
    font-size: 1.4rem;
    color: #0e1c22;
    opacity: 0.6;
    display: block;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.form-control {
    line-height: 3.4rem;
    font-size: 1.8rem;
    width: 100%;
    padding: 0 0 8px 0;
    border: none;
    border-bottom: 1px solid rgba(14, 28, 34, 0.4);
    border-radius: 0;
    outline: none;
}

.confirm-password-form {
    margin: 49px 0 10px 0;
}

.update-action {
    margin-top: 20px;
}

.update-btn {
    line-height: 2rem;
    display: inline-block;
    border: 1px solid var(--secondary-color);
    border-radius: 0;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--white-color);
    cursor: pointer;
    color: var(--secondary-color);
    transition: all 0.3s ease;
    padding: 12px 60px;
}

.update-btn:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.form-message {
    color: #f4516c;
    font-size: 1.4rem;
    padding-top: 6px;
}

.errors {
    border-radius: 3px;
    padding: 6px 12px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: left;
    color: #d02e2e;
    background-color: #fff6f6;
    border-color: #d02e2e;
}

.errors ul {
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1024px) {
    .reset-password-form {
        width: 500px;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .reset-password-form {
        width: 100%;
    }
}
