main {
    padding: 48px 0;
    background: linear-gradient(to bottom, var(--linear-color), var(--white-color));
}

.reset-password-form {
    width: 588px;
    padding: 40px 48px 48px;
    background-color: var(--white-color);
    margin: 0 auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.reset-password-title {
    line-height: 3.5rem;
    font-size: 2.6rem;
    font-weight: 700;
    margin: 0 0 50px 0;
    padding-bottom: 16px;
    border-bottom: 2px solid rgba(238, 238, 238, 0.5);
    color: var(--secondary-color);
}

.new-password-form,
.confirm-password-form {
    margin-bottom: 24px;
}

.form-label {
    font-size: 1.4rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 12px;
    display: block;
}

.form-control {
    width: 100%;
    padding: 12px;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.form-control:focus {
    box-shadow: 0 0 8px rgba(208, 154, 64, 0.5);
    border: none;
}

.update-btn {
    font-size: 1.8rem;
    font-weight: 600;
    background-color: #dca54a;
    color: var(--white-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    line-height: 2.2rem;
    padding: 12px 36px;
}

.update-btn:hover {
    filter: brightness(1.1);
}

.form-message {
    color: #f4516c;
    font-size: 1.4rem;
    padding-top: 6px;
}

.errors {
    background-color: #fff3f3;
    border-left: 5px solid #f4516c;
    padding: 12px;
    margin-bottom: 20px;
    color: #f4516c;
    font-size: 1.4rem;
}

.errors ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.errors li {
    padding-left: 20px;
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1024px) {
    .reset-password-form {
        width: 90%;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .reset-password-form {
        width: 100%;
    }
}
