/* Search-products */
main {
    padding: 64px 0;
    background: linear-gradient(to bottom, var(--linear-color), var(--white-color));
}

.search-title {
    line-height: 3.3rem;
    font-weight: bold;
    font-size: 2.5rem;
    color: var(--black-color);
    margin: 0 0 70px;
    padding-bottom: 16px;
    border-bottom: 2px solid rgba(238, 238, 238, 0.5);
}

.pagination {
    text-align: center;
    margin-top: 60px;
}

.pagination-link,
.pagination-link__icon-prev,
.pagination-link__icon-next {
    display: inline-block;
    font-size: 2.4rem;
    text-decoration: none;
    color: var(--secondary-color);
    padding: 6px;
}

.pagination-link {
    color: var(--secondary-color);
    opacity: 0.3;
    margin-left: 30px;
}

.pagination-link.pagination-link--active,
.pagination-link:hover {
    opacity: 1;
}

.pagination-link__icon-next {
    margin-left: 30px;
}

.pagination-link__icon-prev.none,
.pagination-link__icon-next.none {
    display: none;
}

/* Mobile */
@media (max-width: 739px) {
    main {
        padding: 64px 32px;
    }
}
