html {
    scroll-behavior: smooth;
}
main{
    max-width: 100%;
    min-height: 800px;
    background-color: var(--linear-color);
}
.contentnews{
    margin-top: 70px;
    width: 100%;
    min-height: 300px;
    background-color: var(--white-color);
    text-align: left;
}
.contentnews .contentnews-title{
    padding-top: 100px;
    padding-left: 100px;
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
    color: var(--primary-color);
}
.contentnews .contentnews-author{
    padding-left: 100px;
    line-height: 30px;
    font-size: 17px;
}
.contentnews-author a{
    text-decoration: none;
    color: var(--primary-color-bold);
}

.contentnews .contentnews-content{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    line-height: 2.3rem;
    font-size: 18px;
    font-weight: 350;
}
.contentnews-titlecontent{
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
}
.contentnews .contentnews-img .contentnews-img__products{
    margin-left: 100px;
    width: 83%;
    height: 500px;
    object-fit: cover;
    padding-bottom: 20px;
}
.contentnews .contentnews-infor{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    line-height: 2.5rem;
    font-size: 16px;
}
.contentnews .contentnews-infor a{
    text-decoration: none;
    color: var(--primary-color-bold);
    font-weight: bold;
}
.contentnews .contentnews-infor{
    padding-bottom: 80px;

}
.backtonews{
    font-size: 18px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    font-weight: 400;
    justify-content: space-between;

}
.backtonews a{
    text-decoration: none;
    
    color: var(--primary-color-bold);
}
.backtonews i{
    font-size: 16px;
}
.commentnews{
    width: 100%;
    min-height: 300px;
    background-color: var(--white-color);
    text-align: left;
}
.commentnews .quantitycomment{
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 23px;
}
.commentnews .commentnews-user{
    padding-top: 50px;
    padding-left: 100px;
    display: flex;
}
.commentnews .commentnews-user .commentnews-user__avt-img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}
.commentnews-user .commentnews-user__name-date{
    padding-left: 15px;
    padding-top: 10px;
    font-size: 16px;
    line-height: 2rem;
    color: var(--primary-color-bold);
}
.commentnews .commentnews-content{
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 20px;
    line-height: 2.3rem;
    font-size: 16px;
    font-weight: 350;
}
.commentnews .commentnews-manage{
    padding-left: 100px;
    padding-bottom: 50px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
}
.commentnews .commentnews-manage a{
    text-decoration: none;
    font-size: 16px;
    color: var(--primary-color-bold);
    font-weight: bold;
}
.writecomment{
    margin-bottom: 100px;
    margin-top: 30px;
    width: 100%;
    min-height: 300px;
    background-color: var(--white-color);
    text-align: left;
}
.writecomment .writecomment-title{
    padding-left: 100px;
    padding-top: 70px;
    font-size: 23px;
}
.writecomment .writecomment-title__link{
    padding-left: 100px;
    padding-top: 20px;
    font-size: 16px;
}
.writecomment .writecomment-title__link a{
    text-decoration: none;
    color: var(--primary-color-bold);
    font-weight: bold;
}
.writecomment .writecomment-content{
    padding-top: 30px;
    margin-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
    
}
.writecomment .writecomment-content .comment-input {
    width: 100%;
    height: 100px;
    font-size: 16px;
    padding: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    color: #333;
    transition: border-color 0.3s;
}

.writecomment .writecomment-content .comment-input:focus {
    border-color: var(--primary-color);
}
.writecomment .writecomment-btn{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 16px;
}
.writecomment .writecomment-btn button{
    width: 200px;
    background-color: var(--primary-color-bold);
    height: 50px;
    font-weight: 450;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.writecomment .writecomment-btn button a{
    color: var(--white-color);
    text-decoration: none;

}
.writecomment .writecomment-btn button i{
    font-size: 14px;
}
.writecomment .writecomment-btn button:hover{
    background-color: #deac55;
}
.contentnews .contentnews-listindex{
    margin-left: 100px;
    font-size: 16px;
    border: 1px solid #ddd;
    line-height: 3rem;
    padding: 15px;
    border-radius: 8px;
    max-width: 400px;
    min-height: 20px;
    position: relative;
}
.contentnews .contentnews-listindex button{
    position: absolute;
    min-width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    top: 33px;
    right: 30px;
    background-color: var(--white-color);
    padding: 3px;
    border-radius: 5px;
}
.contentnews .contentnews-listindex a{
    text-decoration: none;
    color: black;
    font-weight: 350;
    transition: all 1.3ms;
}
.contentnews .contentnews-listindex a:hover{
    color: var(--primary-color-bold);
    font-weight: bold;
    text-decoration: underline;
}
@media (max-width: 739px) {
    .contentnews, .commentnews, .writecomment {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 20px;
    }
    .contentnews .contentnews-title {
        padding-top: 20px;
        padding-left: 0;
        font-size: 24px;
        line-height: 1.9rem;
    }
    .contentnews .contentnews-author,
    .contentnews .contentnews-titledescription,
    .contentnews .contentnews-content,
    .contentnews-titlecontent,
    .contentnews .contentnews-infor,
    .backtonews,
    .commentnews .quantitycomment,
    .commentnews .commentnews-content,
    .writecomment .writecomment-title,
    .writecomment .writecomment-title__link,
    .writecomment .writecomment-content,
    .writecomment .writecomment-btn {
        padding-left: 0;
        padding-right: 0;
        font-size: 14px;
        line-height: 2rem;
    }
    .contentnews .contentnews-img .contentnews-img__products {
        width: 100%;
        height: auto;
        margin-left: 0;
        padding-bottom: 10px;
    }
    .contentnews .contentnews-title,
    .contentnews .contentnews-author,
    .contentnews .contentnews-titledescription,
    .contentnews-titlecontent,
    .contentnews .contentnews-infor a,
    .backtonews a,
    .commentnews .quantitycomment,
    .commentnews .commentnews-user__name-date,
    .commentnews .commentnews-content,
    .commentnews .commentnews-manage a,
    .writecomment .writecomment-title,
    .writecomment .writecomment-title__link a,
    .writecomment .writecomment-content,
    .writecomment .writecomment-btn button {
        font-size: 14px;
        line-height: 1.9rem;
    }
    .writecomment .writecomment-btn button {
        width: 100%;
        height: 40px;
    }
    .contentnews .contentnews-listindex {
        margin-left: 0;
        font-size: 14px;
        padding: 10px;
        max-width: 100%;
    }
    .commentnews, .commentnews .commentnews-user, .commentnews .commentnews-content, .commentnews .commentnews-manage {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 10px;
    }
    .commentnews .commentnews-user .commentnews-user__avt-img {
        width: 50px;
        height: 50px;
    }
    .commentnews .quantitycomment, 
    .commentnews .commentnews-user__name-date, 
    .commentnews .commentnews-content, 
    .commentnews .commentnews-manage a {
        font-size: 12px;
        line-height: 1.5rem;
    }
    .commentnews-user .commentnews-user__name-date {
        padding-left: 15px;
        padding-top: 5px;
    }
    .commentnews .commentnews-manage {
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        justify-content: flex-start;
        gap: 20px;
    }
}
@media (min-width: 740px) and (max-width: 1236px) {
    .contentnews,
    .commentnews,
    .writecomment {
        width: 100%;
        /* padding-left: 30px; */
        /* padding-right: 30px; */
        margin-top: 30px;
    }

    .contentnews .contentnews-title {
        padding-top: 60px;
        padding-left: 30px;
        font-size: 26px;
        line-height: 2rem;
        line-height: 3rem;

    }

    .contentnews .contentnews-author,
    .contentnews .contentnews-titledescription,
    .contentnews .contentnews-content,
    .contentnews-titlecontent,
    .contentnews .contentnews-infor,
    .backtonews,
    .commentnews .quantitycomment,
    .commentnews .commentnews-content,
    .writecomment .writecomment-title,
    .writecomment .writecomment-title__link,
    .writecomment .writecomment-content,
    .writecomment .writecomment-btn {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 16px;
        line-height: 2.3rem;
    }

    .contentnews .contentnews-img .contentnews-img__products {
        width: 90%;
        height: auto;
        margin-left: 30px;
        padding-bottom: 15px;
    }

    .contentnews .contentnews-listindex {
        margin-left: 30px;
        font-size: 16px;
        padding: 12px;
        max-width: 90%;
    }

    .commentnews,
    .commentnews .commentnews-user,
    .commentnews .commentnews-content,
    .commentnews .commentnews-manage {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 15px;
    }

    .commentnews .commentnews-user .commentnews-user__avt-img {
        width: 55px;
        height: 55px;
    }

    .commentnews .quantitycomment,
    .commentnews .commentnews-user__name-date,
    .commentnews .commentnews-content,
    .commentnews .commentnews-manage a {
        font-size: 14px;
        line-height: 1.8rem;
    }

    .writecomment .writecomment-btn button {
        width: 100%;
        height: 45px;
    }
    
}
