main {
    padding: 48px 0;
    background: linear-gradient(to bottom, var(--linear-color), var(--white-color));
}

.login-form,
.forgot-pass-form {
    width: 588px;
    padding: 40px 48px 48px;
    background-color: var(--white-color);
    margin: 0 auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
}

.login-form.login-form--active,
.forgot-pass-form.forgot-pass-form--active {
    display: block;
}

.login-title,
.forgot-pass-title {
    line-height: 3.5rem;
    font-size: 2.6rem;
    font-weight: 700;
    margin: 0 0 50px 0;
    padding-bottom: 16px;
    border-bottom: 2px solid rgba(238, 238, 238, 0.5);
    color: var(--secondary-color);
}

.email-form {
    margin-bottom: 10px;
}

.form-label {
    line-height: 2.1rem;
    margin-bottom: 14px;
    font-size: 1.4rem;
    color: #0e1c22;
    opacity: 0.6;
    display: block;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.form-control {
    line-height: 3.4rem;
    font-size: 1.8rem;
    width: 100%;
    padding: 0 0 8px 0;
    border: none;
    border-bottom: 1px solid rgba(14, 28, 34, 0.4);
    border-radius: 0;
    outline: none;
}

.password-form {
    margin: 49px 0 10px 0;
}

.login-action,
.submit-action {
    margin-top: 20px;
}

.login-btn,
.submit-btn {
    line-height: 2rem;
    display: inline-block;
    border: 1px solid var(--secondary-color);
    border-radius: 0;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 24px 0;
    background-color: var(--white-color);
    cursor: pointer;
    color: var(--secondary-color);
    transition: all 0.3s ease;
}

.login-btn {
    padding: 12px 35px;
}

.submit-btn {
    padding: 12px 60px;
}

.login-btn:hover,
.submit-btn:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.register-title {
    line-height: 2.4rem;
    font-size: 1.5rem;
    margin-bottom: 56px;
}

.back-login-title {
    line-height: 2.4rem;
    font-size: 1.5rem;
}

.register-title__link,
.back-login-title__link {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    transition: color 0.3s ease;
    cursor: pointer;
}

.forgot-pass__link {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}

.remember-me-box {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.remember-me__check-box {
    width: 15px;
    height: 15px;
}

.remember-me__label {
    line-height: 2.4rem;
    font-size: 1.5rem;
    margin-left: 6px;
    cursor: pointer;
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1024px) {
    .login-form,
    .forgot-pass-form {
        width: 500px;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .login-form,
    .forgot-pass-form {
        width: 100%;
    }
}
